body {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 60px;
}

.container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/cows.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
}

.vert-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    color: #7F7;
    text-shadow:
        -1px -1px 0 #003300,
        1px -1px 0 #003300,
        -1px 1px 0 #003300,
        1px 1px 0 #003300;
}

.btn {
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.jumbotron {
    background: none;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    /* padding-top: 5px; */
    text-align: center;
    justify-content: center;
    background-color: #7F7;
    color: green;
}

a {
    color: green;
}
